@CHARSET "utf-8";

.write-title{
   font-size:20px;
   color:black;
   /* background: linear-gradient(to left, #4DA0B0 , #D39D38); */
   background:#BBDEFB;
}

.write-content{
   /* height : 50px;
   width : 200px; */
   /* background: linear-gradient(to left, #4DA0B0 , #D39D38); */
   background:#BBDEFB;
}

.write-content img{   
   margin-left: auto;
    margin-right: auto;
    display: block;
}

#vote-style{
   font-weight: bold;   
      
}

#vote-style dt{
   font-size:20px;
   font-style:bold;
   margin-bottom: 30px;
   margin-left: auto;
   margin-right: auto;
}

#vote-style dl{
       border: dotted 3px black;
    border-radius: 20px;
    width: 972px;
    /* padding-left: 30px;
    padding-top: 15px; */
}

#vote-style dd{
   text-indent:10px;
   margin-left:20px;
}

#percent{
   float:right;
   margin-right:45px;
}

#vote-style meter{
   margin-left: 10px;
    margin-right: auto;
    display: block;
}

#user-picture{
   height:400px;
   width:1800px;
   /* background: url("../images/icons/AC8.jpg") no-repeat center; */
   
   margin-left: auto;
   margin-right: auto;
   
}
#user-input-text dd{
   margin-top:50px;
   
   margin-bottom:50px;

   /* background: #51aea7; */
   width: 800px;   
}

#user-ipt-box > label{
   float:left;
   margin-top:6px;
   margin-left:5px;
   margin-right:10px;
   font-weight: bold;
   font-size: 20px;
/*    background: white; */
}

#user-ipt-box{
   padding: 0 0 2px;
    height: 38px;
    margin-left:20px;
    margin-bottom:5px;
}

#user-ipt-box input[type=button]{
   background:url("../images/icons/icon-refresh.png") no-repeat center;
   margin-top:5px;
   width: 27px;
   height: 27px;
}

#vote-style dt{
   margin-left:20px;
}

.vote-bar{
   text-indent: 20px;
   width: 700px;
   height: 30px;
}

.test{
   position:relative;
   height:250px;
}

.write-review{
    height: 180px;
    width: 960px;
/*    background: lawngreen; */
    position: absolute;
    padding-left: 20px;
    border: 1px solid black;
    
    border-radius:25px;
}


#reply-num1{
   width: 600px;
    float: left;
}

#reply-num1 textarea{
   width: 620px;
    height: 110px;
    
}

#reply-num1 div input{
   width:500px;
   height:100px;
/*     margin-left: 20px; */
}

#reply-num1 label{
   margin-top:4px;
   border: 1px solid black;
    width: 524px;
    position: absolute;
    color:gray;
}

#add-picture{
   width: 622px;
/*     background: pink; */
    float: left;
}

#add-picture button{
   margin-top: 3px;
    width: 90px;
    height: 25px;   
   float: right;
}

#reply-num2{
   width: 300px;
    float: right;
    height: 140px;
/*     border: 1px solid black; */
    position: absolute;
    right: 0px;
}

#reply-num2 button{
   width: 280px;
    height: 140px;
    font-size:50px;
}

.input-warning{
   
   margin-left:3px;
   margin-bottom: 5px;
}

.user-replies{
   position: relative;
    width: 970px;
   
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    margin-top: 30px;
    min-height: 250px;
}

.user-reply-profile{
   margin-left: 20px;
   width: 100px;
    height: 100px;
   float: left;
}

.user-select-num{
   margin-left:5px;
   width: 25px;
    height: 25px;
   float: left;
}
.user-reply-info>label{
   margin-left:20px;
   font-size:20px;
   font-weight:bold;
}
.user-reply-info>label:first-child + label{
   float:right;
   font-weight:normal;
   font-style:italic;
   font-size:15px;
}
.user-reply-txt{
    margin-left: 120px;
    padding-left: 50px;
   width:530px;
}
.user-reply-txt span{   
   margin-top:5px;
    overflow: scroll;
    font-size: 13px;
    line-height: 18px;
    word-break: break-all;
    word-wrap: break-word;
    height: 130px;
    float: left;
    position:inherit;
    min-width: 530px;
}
::-webkit-scrollbar {
display:none;
}
.user-reply-buttons button{
   margin-left: 15px;
   margin-top:25px;
   float:left;
   width:85px;
   height:50px;
}

.clearfix {
  overflow: auto;
  zoom: 1;
}


