@charset "utf-8";

/* Basic */
/* <-----------------header----------> */
#header {
	border: 1px solid blue;
	height: 50px;
	/* background: #521002; */
	/* width: 100%; */
	
	;
	display:block;
	margin-left: auto;
	margin-right: auto;
}
#main-menu li a{
	text-decoration: none;
	
	display:inline-block;
	right: 0px;
	position:absolute;
}
.md-menu li a:hover{
	text-decoration: underline;
}



/* ----------------------visual---------------------- */



#visual {	
	border: 1px solid blue;
	height: 240px;
	background: #313131 url("../images/etc/vote.jpg") no-repeat center;
	
	;
	display:block;
	margin-left: auto;
	margin-right: auto;
}



/* --------------------body-------------------------- */
#body{
	min-height: 900px;
	margin-top:1px;
	
	
	display:block;
	margin-left: auto;
	margin-right: auto;
}


#sliderthumbanils {
	border: 1px solid #000040;
	height: 240px;
	background: url("../images/slider-bg.jpg") no-repeat center;
	/* width:100%; */
	/* text-align: center; */
	
	
	display:block;
	
}

#thumbnails {
	min-height: 800px;
	border: 1px solid red;
	
	position: relative;
 	overflow: hidden; 
 	/* padding-left: 10px; */
 	
 	width:982px;
	display:block;

}

.entryStage {
	border: 1px solid black;
	display: block;
	float: left;
	width: 300px;
	height: 300px;
	background: #000;
	position: relative;
	margin-top: 0px;
	margin-bottom: 40px;
	margin-left: 5px;
	margin-right:5px;
	padding: 5px;
	text-align: center;
}

.entryStage .poster .clearfix {
	position: absolute;
	width: 100%;
	height: 300px;
	overflow: hidden;
}

.entryStage .info {
	padding-top: 15px;
	height: 300px;
	overflow: hidden;
	position: relative;
}

.venue {
	background: #ff3;
	color: #000;
	font-size: 14px;
	font-weight: bold;
}

/* 페이지 부분  */
.paging {
	text-align: center;
	
}

#submit{
	
	display: block;
	min-height:50px;
	position: relative;
	border:1px solid;
	
}

 #footer {
	border: 1px solid;
	height: 100px;
	background: #2e2a28;
}


/* #wrapper {
	
}



#container {
	border: 2px solid #ffff80;
	
}
 */



.container
{	

height:100%;
min-height : inherit;
margin-left: auto;
margin-right: auto;
position: relative;

}

.clearfix{
	
	overflow:auto;
	zoom: 1;
}