@CHARSET "UTF-8";

/* Basic */
body {
	background-image: url("../images/bg.jpg");
	background-size: cover;
	background-position: top center;
}

#wrapper {
	
}

#header {
	border: 1px solid red;
	background: #521002;
	height: 30px;
}

#container {
	border: 2px solid #ffff80;
}

#visual {
	border: 1px solid blue;
}

#sliderthumbanils {
	border: 1px solid #000040;
	text-align: center;
	background-size: cover;
	display: block;
}

#thumbnails {
	border: 1px solid red;
	max-width: 90rem;
	margin: 0 auto;
	display: flex;
}

#thumbnails>div {
	flex-grow: 1;
}

#footer {
	border: 1px solid red;
	height: 80px;
	background: #2e2a28;
	display: block;
}

/*페이지 부분  */
.paging {
	text-align: center;
}

.serch-form {
	
}