@charset "utf-8";

/* Basic */
/* <-----------------header----------> */
#header {
	border: 1px solid blue;
	height: 50px;


	
}
/* 
#main-menu{
	float : right;
} */

/* ------------------버튼형식이면 이것을 안씀------------ */
/* #main-menu li a{
	float : right;
}

.md-menu li a{
	text-decoration: none;
}
.md-menu li a:hover{
	text-decoration: underline;
} */




#body{
	
	margin-top:1px;
	
	
	display:block;
	margin-left: auto;
	margin-right: auto;
}




 #footer {
	border: 1px solid;
	height: 100px;
	background: #2e2a28;
}



/* --------------------페이지 영역 크기--------------- */
.container
{	
width:982px;
height:100%;
min-height : inherit;
margin-left: auto;
margin-right: auto;
position: relative;
}
/* ---------------------------------------------------- */


.quick{
position:fixed;
bottom:50px;
right:40px;

}

.clearfix{
	
	overflow:auto;
	zoom: 1;
}