@charset "utf-8";
@IMPORT url("mainlayout.css");
/* Basic */
/* ---------------------------헤더------------------------- */
.hidden{
	display: none;
}


#function-button{
	padding-right:10px;
	padding-top:10px;
}

#sign_button{
	right:0px;
	position:relative;
	
	float:right;
	width:100px;
	height:30px;
	border-radius: 5px;
	border: 1px solid black;
	background-color: white;
}

#search_button{
	margin-right:10px;
	right:0px;
	position:relative;
	
	float:right;
	width:100px;
	height:30px;
	border-radius: 5px;
	border: 1px solid black;
	background-color: white;
}

#write_button{
	margin-right:10px;
	right:0px;
	position:relative;
	
	float:right;
	width:100px;
	height:30px;
	border-radius: 5px;
	border: 1px solid black;
	background-color: white;
}

#function-toggle{
	display: none;
}

/* ---------------------------------비주얼---------------- */
#visual {	
	border: 1px solid blue;
	height: 240px;
	background: #313131 url("../images/etc/vote.jpg") no-repeat center;
	top:50px;

	display:block;
	margin-left: auto;
	margin-right: auto;
}

.poster img{
	height:250px;
}

#sliderthumbanils {
	border: 1px solid #000040;
    height: 240px;
    background: url(../images/slider-bg.jpg) no-repeat center;
    display: block;
	
}
#thumbnails {
 	min-height: 800px;
	border: 1px solid red;
	
	position: relative;
 	overflow: hidden; 
 	
 	
	display:block;
	
}
.entryStage {
	/* border: 1px solid black; */
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
	display: block;
	float: left;
	width: 300px;
	height: 300px;
	background: #000;
	position: relative;
	margin-top: 0px;
	margin-bottom: 20px;
	margin-left: 18px;
/* 	margin-right:5px; */
	/* padding: 5px; */
	padding-top: 15px;
	
	overflow:hidden; 
}
/* 전광렬 사진 넘치는거 없앰11 */
.entryStage .poster{
	width: 100%;
	height: 300px;
	overflow: hidden;
	
}
/* -------------------글자 이미지 겹치기--------------- */
.poster{
	position:absolute;
	
}
.info{
	background: #ff8080;
	color: #000;
	font-size: 14px;
	font-weight: bold;
	height: 50px;
	overflow: hidden;
	position: relative;	
}
.content-title{
	display:table-cell;
	vertical-align:middle
}
/* ------------------------------------------------------ */
/* 페이지 부분  */
.paging {
	text-align: center;
}

#content{
    border: 1px solid;
    padding-top: 20px;
}

#search-bar{
	text-align:right;
}

.btninfo{
    text-align: center;
    padding: 3px 3px;
    cursor: pointer; 
    border-radius: 4px;
    color: #000;
    background-color: yellow;
    border-color: yellow;
}
/* ---------------------------------------------------- */
/* 이미지 크기 자동조절 */
img {
max-width: 100%; 
height: auto; 
	
}
/* 이미지 크기 자동조절 */
