@CHARSET "UTF-8";



#top{
	min-height:300px;
	
/* 	border:1px solid black; */
}

#option-field{
	padding-top:30px;
	height:100px;
	display:block;
	text-align:center;
}

#bottom{
	text-align:center;
	height:50px;
	
}

#main{
	width:800px;
	height:100%;
	min-height:500px;
	margin:0 auto;
	position:relative;
	text-align:center;
	margin-top:50px;
	margin-bottom:50px;
}
