@CHARSET "UTF-8";
@IMPORT url("layout.css");


/* body{
	background: url("../../bimage/aaa.png");
	background-size: cover;
}  */

 /* ------common style-------------------------------------- */
.hidden{
	display: none;
}

.btn-style{
	/* color: #fff;
    background-color: #f0ad4e;
    border-color: #eea236; */
	display: inline-block;
    margin-bottom: 0;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
   
    padding: 1px 5px;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 3px;
}

.btn{
	
	/* color: #fff;
    background-color: #f0ad4e;
    border-color: #eea236; */
	display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;	
}

.label{
    margin-bottom: 5px;
    font-weight: 700;
    cursor: default;
}


.box{
	display: inline-block;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    width:700px;
}


 /* ------title style-------------------------------------- */
#title{
	margin-bottom: 3px;
}

#title label{
	display: inline;
	float: left;
}

#title input{
	display: inline;
}

#content label{
	float: left;
}

#content textarea{
	width:720px;
}

#index-field{
	margin-top: 5px;
}

#index-btn{
	margin-top: 5px;
	margin-bottom: 5px;
}


 /* ------option-field style-------------------------------------- */

#time-option{
	float: left;
	margin-left: 45px;
}

#time-field{
	text-align: left;
	
}

#time-detail{
	text-align: left;
}

#image-option{
	float: left;
	margin-left: 50px;
}

#image-field{
	text-align: left;
}

#image-detail{
	text-align: left;
}

#image{
	margin-left:60px;
	float: left;
	border:1px black;
}

 /* ------bottom style-------------------------------------- */


